

body{
  background: #fffcf7;

}
.wrap{
  min-height: 480px;
  height: 100%;
  /*border:4px solid #b18147;
  border-left: 8px;
  border-right: 8px;*/
}
.wrapper{
  width:100%;
  height: 100%;
  position: relative;
}
.wrapper1{
  background: url(../images/bg1.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.wrapper-explain{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.7);
}
.explain-bg{
  width: 100%;
  height: 100%;
  background: url(../images/bg-explain.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.btn{
  width: 132px;
  height: 43px;
  /*border:1px solid red;*/
  display: block;
  /*padding-top: 8px;*/
  line-height: 40px;
  /*font-size: 1.375em;*/
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: url(../images/btn.png) 0 0 no-repeat;
  background-size: 100%;
}
.btn-start{
  position: absolute;
  top: 52%;
  left:50%;
  margin-left: -61px;
}
.btn-explain{
  position: absolute;
  top: 62.5%;
  left:50%;
  margin-left: -61px;
}
.wrapper2{
  background: url(../images/bg2.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.wrapper2 .p1{
  font-size: 1.1em;
  color: #fff;
  text-shadow:#000 3px 3px 10px;
  margin: 25px auto 0;
  width: 240px;
  text-align: center;
  line-height: 24px;
}
.btn-touch{
  background: url(../images/btn2.png) 0 0 no-repeat;
  width: 137px;
  height: 128.5px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  margin-left: -70px;
  background-size: 100% 100%;
}
.wrapper3{
  background: url(../images/bg3.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.canvas-process {
  background: url(../images/c2.png) no-repeat;
  margin: 60px auto 0;
  display: block;
}
.wrapper3 .p1{
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  position: absolute;
  font-weight: bold;
  top:55%;
  left:0;
  text-shadow:#000 4px 4px 20px;
}
.wrapper3 .p2{
  color: #c30d22;
  width: 40px;
  text-align: right;
  text-shadow: #000 4px 4px 20px;
  font-size: 0.75em;
  position: absolute;
  top:60%;
  left:23px;
}
.ani{
  width: 200px;
  height: 92px;
  background: url(../images/ani.png) 0 0 no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top:52%;
}
.wrapper4{
  background: url(../images/bg4.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.btn-help{
  position: absolute;
  top: 70.83%;
  left:50%;
  margin-left: -61px;
}
.btn-explain2{
  top: 81.25%;
}
.wrapper4 .p1{
  position: absolute;
  top:30.625%;
  right: 5%;
  font-size:2em;
  color: #c30d22;
  text-align: right;
  text-shadow:#000 4px 4px 20px;
}
.wrapper-tel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.8);
}
.tel-panel{
  width: 225px;
  height:110px;
  margin:134px auto 0;
  background: url(../images/panel.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.ipt-txt{
  width: 140px;
  height: 20px;
  line-height: 20px;
  display: block;
  margin: 48px 0 0 52px;
  font-size: 0.875em;
}
.btn-sure{
  width: 50px;
  height: 30px;
  margin: 5px 0 0 100px;
}
.wrapper5{
  background: url(../images/bg4.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.wrapper5 .p1{
  position: absolute;
  top:20.2%;
  right: 5%;
  font-size:1.2em;
  color: #fff;
  text-align: right;
  text-shadow:#000 0px 3px 10px;
}
.wrapper5 .p1 span{
  color: #c30d22;
}
.wrapper5 .p2{

}

.wrapper6{
   background: url(../images/bg6.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.wrapper6 .p1{
  position: absolute;
  top:37.8%;
  right: 5%;
  font-size:1em;
  color: #fff;
  text-align: right;
  text-shadow:#000 2px 3px 10px;
}
.wrapper6 .p1 span{
  color: #c30d22;
}
.wrapper6 .p2{
  position: absolute;
  top:43.125%;
  right: 5%;
  font-size: 1em;
  color: #fff;
  text-align: right;
    text-shadow:#000 2px 3px 10px;
}
.wrapper6 .p2 span{
  color: #c30d22;
}
.btn-help2{
  width: 172px;
  height: 39px;
  line-height: 39px;
  background: url(../images/btn3.png) 0 0 no-repeat;
  text-align: center;
  margin-left: -86px;
  top: 73.33%;
}
.wrapper6 .p3{
  position: absolute;
  bottom: 18px;
  font-size: 1em;
  color: #231815;
  width: 100%;
  text-align: center;
  line-height: 26px;
}
.lou{
  width: 105px;
  height: 233.5px;
  background: url(../images/lou.png) 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 23px;
  top:20%;
}
.pc{
  width:64px;
  height: 25px;
  background: url(../images/pc.png) 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -45px;
  top:200px;
}
.pc-h1{
  font-size: 0.75em;
  position: absolute;
  left: 5px;
  bottom: -12px;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 0px 4px 12px;
}
.messageBox{
  height: 36px;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.js-messageBox{
  width: 100%;
  height: 36px; 
  position: absolute;
  top:0;
}
.js-help-message{
  width: 100%;
}
.messageBox p{
  font-size: 16px;
  color: #231815;
  width: 100%;
  text-align: center;
  line-height: 18px;
}
.wrapper4 .prize,.wrapper5 .prize{
  position: absolute;
  top: 45.43%;
  right: 0;
  font-size: 1.2em;
  color: #fff;
  text-align: right;
  text-shadow: #000 3px 3px 10px;
}